/*css - hoja de estilo en cascada (osea que va aplicando prioridad a la última orden que le damos*/
/*el selector asterisco elige todos los elementos*/
* {
    font-family: 'Roboto', sans-serif;
    color: blue
}

/* a todos los elementos separados por coma le aplica las propiedades*/
p, span {
    color:red;
    width: 300px;
}

h1 {
    border: 2px solid black;
    padding: 5px;
    /*se ordenan como las agujas del relog  si lo quiero escribir en la misma línea.
    ej: margin: 40px(arriba) 30px(derecha) 20px(abajo) 10px(izquierda) */
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color:gray;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

/* # conecta con el id del elemento en html*/

#mi_parrafo {
    color:aqua;
}

/*clase en css, es un conjunto de caracteristicas que pueden elegir los elementos de html*/

.miclase {
    font-weight: bold;
    color: purple;
}

/*section h1 {
    
    ]
    
le asigna estilo a todos los h1 que estén dentro de un elemento section*/

/*para elegir letra hay q ir a google fonts, buscar la letra, copiar el link y pegarlo en el head del html, 
luego en css se elige el tipo de la familia*/

/* esto es un comentario en css */